<section class="section section-light-grey is-medium">
  <a name="newsletter"></a>
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Interested? </h2>
      <h3 class="subtitle is-5 is-muted">We'll keep you updated. Sign up here!</h3>
      <div class="divider is-centered"></div>
    </div>

    <style type="text/css">
    .mce_inline_error {
      color: red !important;
    }
    </style>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-8 is-offset-2">

          <form action="https://bank2budget.us17.list-manage.com/subscribe/post?u=11b0b0fdb513e4c28be4d4f84&amp;id=bf1c60cf47"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_f7fcffd059cde2df667ed71e0_b59497a580" tabindex="-1" value="">
            </div>

            <div class="columns is-multiline mc-field-group">
              <div class="column is-6 is-offset-3  field has-addons">
                <div class="control is-expanded indicates-required">
                  <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
                </div>
              </div>
              <div class="column"></div>
              <!-- nex row -->
              <div class="column is-6 is-offset-3">
                <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                  <div class="content__gdpr">
                    <label><b>Marketing Permissions</b></label>
                    <p>Please select all the ways you would like to hear from bank2budget.de:</p>
                    <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field" style="border:0">
                      <label class="checkbox subfield" for="gdpr_1781"><input type="checkbox" id="gdpr_1781" name="gdpr[1781]"
                          value="Y" class="av-checkbox gdpr"><span>E-Mail</span> </label>
                    </fieldset>
                    <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
                  </div>
                  <div class="content__gdprLegal">
                    <p>We use MailChimp as our marketing platform. By clicking below to subscribe, you acknowledge that
                      your information will be transferred to MailChimp for processing. Learn more about MailChimp's
                      privacy practices <a href="https://mailchimp.com/legal/" target="_blank">here</a>.</p>
                  </div>
                </div>
              </div>

              <!-- nex row -->
              <div class="column is-3 is-offset-5 control">
                  <button class="button is-primary" type="submit">
                    Subscribe
                  </button>
              </div>
               <!-- nex row -->
              <div class="column is-6 is-offset-3" id="mce-responses">
                <div class="response has-text-error" id="mce-error-response" style="display:none"></div>
                <div class="response has-text-success" id="mce-success-response" style="display:none"></div>
              </div>
              <div class="column"></div>

            </div>



          </form>


          <!--<form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Enter your email address">
              </div>

               <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
    <div class="content__gdpr">
        <label>Erlaubnis zum Marketing</label>
        <p>bank2budget.de wird die Informationen, die Sie in diesem Formular angeben, dazu verwenden, mit Ihnen in Kontakt zu bleiben und Ihnen Updates und Marketing-Informationen zu übermitteln. Bitte lassen Sie uns wissen, auf welche Art und Weise Sie von uns hören möchten:</p>
        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
		<label class="checkbox subfield" for="gdpr_1781"><input type="checkbox" id="gdpr_1781" name="gdpr[1781]" value="Y" class="av-checkbox gdpr"><span>E-Mail</span> </label><label class="checkbox subfield" for="gdpr_1789"><input type="checkbox" id="gdpr_1789" name="gdpr[1789]" value="Y" class="av-checkbox gdpr"><span>Maßgeschneiderte Online-Werbung</span> </label>
        </fieldset>
        <p>Sie können Ihre Meinung jederzeit ändern, indem Sie auf den Abbestellungs-Link klicken, den Sie in der Fußzeile jeder E-Mail, die Sie von uns erhalten, finden können, oder indem Sie uns unter hello@bank2budget.de kontaktieren. Wir werden Ihre Informationen mit Sorgfalt und Respekt behandeln. Weitere Informationen zu unseren Datenschutzpraktiken finden Sie auf unserer Website. Indem Sie unten klicken, erklären Sie sich damit einverstanden, dass wir Ihre Informationen in Übereinstimmung mit diesen Bedingungen verarbeiten dürfen.</p>
    </div>
    <div class="content__gdprLegal">
        <p>Wir verwenden MailChimp als unsere Marketing-Plattform. Wenn Sie unten auf "Abonnieren" klicken, bestätigen Sie, dass Ihre Daten zur Verarbeitung an MailChimp übertragen werden. Bitte klicken Sie hier, um mehr über die Datenschutzpraktiken von MailChimp zu erfahren.</p>
    </div>
</div>

             <div class="g-recaptcha" data-sitekey="6LfNe18UAAAAAE1xhZXTXwiTf6q9zmhIhDJMWqVh"></div>

             <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Subscribe</button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</section>